/* New Greys */
$grey-0: #0b0c0c;
$grey-1: #171819;
$grey-2: #2e3133;
$grey-3: #454a4c;
$grey-4: #5c6366;
$grey-5: #8a9499;
$grey-6: #a1acb2;
$grey-7: #b8c6cc;
$grey-8: #DEE0E2;
$grey-9: #eaedef;

$gray-darker: $grey-2;
$gray-dark: $grey-3;
$gray: $grey-4;
$gray-light: $grey-5;
$gray-lighter: $grey-8;

$text-colour: $grey-0;
$link-colour: #2e3191;
$link-active-colour: #2e8aca;
$link-hover-colour: #2e8aca;
$link-visited-colour: #2e3191;

$black: $grey-0;

$purple: #2e358b;
$purple-50: #9799c4;
$purple-25: #d5d6e7;

$mauve: #6f72af;
$mauve-50: #b7b9d7;
$mauve-25: #e2e2ef;

$fuschia: #912b88;
$fuschia-50: #c994c3;
$fuschia-25: #e9d4e6;

$pink: #d53880;
$pink-50: #eb9bbe;
$pink-25: #f6d7e5;

$baby_pink: #f499be;
$baby-pink-50: #faccdf;
$baby-pink-25: #fdebf2;

$red: #b10e1e;
$red-50: #d9888c;
$red-25: #efcfd1;

$mellow-red: #df3034;
$mellow-red-50: #ef9998;
$mellow-red-25: #f9d6d6;

$orange: #f47738;
$orange-50: #fabb96;
$orange-25: #fde4d4;

$brown: #b58840;
$brown-50: #dac39c;
$brown-25: #f0e7d7;

$yellow: #ffbf47;
$yellow-50: #ffdf94;
$yellow-25: #fff2d3;

$grass-green: #85994b;
$grass-green-50: #c2cca3;
$grass-green-25: #e7ebda;

$green: #006435;
$green-50: #7fb299;
$green-25: #cce0d6;

$turquoise: #28a197;
$turquoise-50: #95d0cb;
$turquoise-25: #d5ecea;

$light-blue: #2b8cc4;
$light-blue-50: #96c6e2;
$light-blue-25: #d5e8f3;
