header {
  nav {
    @include make-row();

    .title {
      @include make-xs-column(5);
      @include make-sm-column(4);
      @include make-md-column(2);
      @include make-lg-column(2);
    }

    .navigation {
      @include make-xs-column(12);
      @include make-sm-column(8);
      @include make-md-column(5);
      @include make-lg-column(5);
    }
  }

  nav {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;

    @media (min-width: $screen-xs) {
      padding-bottom: $line-height-computed / 2;
    }

    .title {
      float: none;
      width: $font-size-base * 14.5;
      margin: auto auto $line-height-computed auto;

      h1 {
        font-size: $font-size-base * 2.75;
        line-height: $line-height-computed * 4;
      }
    }

    @media (min-width: $screen-xs) {
      .title {
        float: left;
        width: $font-size-base * 8;
        margin-left: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
        margin-bottom: $line-height-computed / 2;

        h1 {
          font-size: $font-size-base * 1.25;
          line-height: $line-height-computed * 2;
        }
      }
    }

    @media (min-width: $screen-sm) {
      .title {
        margin-left: -($grid-gutter-width / 3);
      }
    }

    .navigation {
      margin-top: $line-height-computed / 2;
      margin-bottom: 0;
      font-style: italic;

      list-style: none;

      li {
        float: left;
        padding-right: $grid-gutter-width;
      }
    }
  }
}
