header {
  nav {
    @include make-row();

    .title {
      float: left;
    }

    .navigation {
      @include make-xs-column(12);
      @include make-sm-column(8);
      @include make-md-column(5);
      @include make-lg-column(5);
    }
  }

  nav {
    padding-top: $line-height-computed;
    padding-bottom: $line-height-computed;

    @media (min-width: $screen-xs) {
      padding-bottom: $line-height-computed / 2;
    }

    .title {
      float: none;
      margin: auto auto $line-height-computed auto;

      font-size: $font-size-base * 5;
    }

    @media (min-width: $screen-xs) {
      .title {
        font-size: $font-size-base * 2.5;
        float: left;
        margin-left: $grid-gutter-width / 2;
        margin-right: $grid-gutter-width / 2;
        margin-bottom: $line-height-computed / 2;
      }
    }

    @media (min-width: $screen-sm) {
      .title {
        margin-left: 0;
      }
    }

    .navigation {
      margin-top: $line-height-computed / 2;
      margin-bottom: 0;
      font-style: italic;

      list-style: none;

      li {
        float: left;
        padding-right: $grid-gutter-width;
      }
    }
  }
}
