#home {
  .strapline-row {
    @include make-row();

    .strapline {
      @include make-md-column(10);
      @include make-lg-column(8);
    }
  }

  .hero, .content {
    @include make-row();
  }

  .hero {
    .product-image {
      @include make-sm-column(6);
      @include make-sm-column-push(6);
      @include make-md-column(5);
      @include make-md-column-push(5);
      @include make-lg-column(4);
      @include make-lg-column-push(4);
    }

    .product-body {
      @include make-sm-column(6);
      @include make-sm-column-pull(6);
      @include make-md-column(5);
      @include make-md-column-pull(5);
      @include make-lg-column(4);
      @include make-lg-column-pull(4);
    }
  }

  .content {
    .work, .recently {
      @include make-sm-column(6);
      @include make-md-column(5);
      @include make-lg-column(4);
    }
  }

  a.more {
    @include font-body-italic;
  }

  .strapline {
    @include font-body-italic;
  }

  .strapline {
    @include font-body-italic;
    color: $gray;
    opacity: 0.7;
    margin-bottom: 0;
  }

  .hero {
    .product-image {
      text-align: center;

      @media (min-width: $screen-sm) {
        img {
          margin-top: $line-height-computed / 4;
          @include square(200px);
        }
      }
    }

    h1 {
      font-size: $font-size-base * 1.6;

      @media (min-width: $screen-sm) {
        font-size: $font-size-base * 2.6;
      }
    }
  }

  .content {
    .work {
      ul {
        li {
          margin-top: $font-size-base;

          &:first-child {
            margin-top: 0;
          }
        }

        .product {
          a.pull-left {
            margin-right: $font-size-base;
          }

          img {
            @include square(3em);
          }

          h3, .strapline {
            margin-bottom: 0;

            a {
              font-style: inherit;
              color: inherit;
            }
          }

          h3 {
            @include font-heading;
            font-size: 1em;
          }

          .strapline {
            line-height: 1.3;
            color: $gray-light;

            a:hover {
              text-decoration: none;
            }
          }
        }
      }
    }

    .recently {
      .post {
        margin-top: 0;

        h1 {
          @include font-heading;
          margin-top: 0;
          font-size: 1em;
        }

        .date {
          @include font-body-italic;
          font-size: $font-size-small;
          line-height: $font-size-small;
          margin-left: $font-size-small;
          margin-bottom: $font-size-small;
          color: $gray-light;
        }

        .excerpt {
          a {
            color: $text-colour;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
