ul.projects {
  list-style: none;
  padding-left: 0;

  .banner {
    margin-top: 1em;
  }
}

.project {
  h2 {
    border-top: none;
    margin-bottom: $line-height-computed;
  }

  img {
    @include img-responsive;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .project {
    aside {
      margin-top: 2em;

      h3 {
        margin-top: 0;
      }

      &.links {
        ul {
          list-style: none;
          padding-left: 0;
        }
      }
    }
  }
}
