ul.projects {
  list-style: none;
  padding-left: 0;

  .banner {
    margin-top: 1em;
  }
}

.project {
  article {
    @include make-md-column(8);
    @include make-lg-column(7);
  }

  aside {
    @include make-md-column(3);
    @include make-md-column-offset(1);
    @include make-lg-column(3);
    @include make-lg-column-offset(2);
  }

  h2 {
    border-top: none;
    margin-bottom: $line-height-computed;
  }

  img {
    @include img-responsive;
  }

  aside {
    &.links {
      ul {
        list-style: none;
        padding-left: 0;
      }
    }

    &.subscribe {
      .form-group label {
        font-size: $font-size-small;
        font-weight: normal;
        margin-bottom: $line-height-computed / 2;
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .project {
    aside {
      margin-top: 2em;

      h3 {
        margin-top: 0;
      }
    }
  }
}
