ul.projects {
  list-style: none;
  padding-left: 0;

  .banner {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    margin-top: 1em;

    min-height: 7em;

    @media (min-width: $grid-float-breakpoint) {
      min-height: 15em;
    }

    h2 {
      @include font-heading;
      background: white;
      position: absolute;
      bottom: 0;
      margin-bottom: 0;
      padding: ($line-height-computed / 2);
    }
  }
}

.project {
  article {
    @include make-md-column(8);
    @include make-lg-column(7);
  }

  aside {
    @include make-md-column(3);
    @include make-md-column-offset(1);
    @include make-lg-column(3);
    @include make-lg-column-offset(2);
  }

  h2 {
    border-top: none;
    margin-bottom: $line-height-computed;
  }

  img {
    @include img-responsive;
  }

  aside {
    &.links {
      ul {
        list-style: none;
        padding-left: 0;
      }
    }

    &.subscribe {
      .form-group label {
        font-size: $font-size-small;
        font-weight: normal;
        margin-bottom: $line-height-computed / 2;
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .project {
    aside {
      margin-top: 2em;

      h3 {
        margin-top: 0;
      }
    }
  }
}
