// Proportional sizing & structure
.title {
  width: 3em;
  height: 1em;
  @include rotate(-4deg);

  h1 {
    @include rotate(4deg);
    font-size: 58%;
    line-height: 2em;
  }
}


// Colours, etc
.title {
  background-color: $black;
  text-align: center;
  color: white;

  a {
    background-color: $black;
    transition: background-color 0.25s;
    display: block;
    width: 100%;
    color: white;

    &:hover {
      text-decoration: none;
      background-color: $light-blue;
    }
  }

  h1 {
    @include font-heading;
    color: white;
    margin: 0;

    // kerning fix with lettering.js
    .char2 {
      opacity: 1;
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: -0.05em;
    }
  }
}
