.title {
  background-color: $black;
  @include rotate(-4deg);
  text-align: center;

  a {
    color: white;
  }

  h1 {
    @include font-heading;
    color: white;
    margin: 0;
    @include rotate(4deg);

    // kerning fix with lettering.js
    .char2 {
      opacity: 1;
      position: relative;
      display: inline-block;
      vertical-align: top;
      margin-right: -0.1em;
    }
  }
}
