@font-face {
  font-family: "BrandonGrotesque-Regular";
  src: asset_url("BrandonGrotesque-Regular.woff2") format("woff2"),
       asset_url("BrandonGrotesque-Regular.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@mixin font-body() {
  // font-family: ff-tisa-web-pro;
  font-family: 'PT Serif', serif;
}

@mixin font-body-italic() {
  @include font-body;
  font-style: italic;
}

@mixin font-heading() {
  font-family: 'BrandonGrotesque-Regular', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
