@mixin font-body() {
  font-family: ff-tisa-web-pro;
}

@mixin font-body-italic() {
  @include font-body;
  font-style: italic;
}

@mixin font-heading() {
  font-family: brandon-grotesque, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
