---
layout: default
---

<main class="post container">
  <div class="row">
    <article>
      <h1>{{ page.title }}</h1>
      <p class="date">{{ page.date | date_to_long_string }}</p>
      <div class="post">
      {{ content }}
      </div>
    </article>
  </div>
  <div class="row subscribe">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="http://exciting.us3.list-manage2.com/subscribe/post?u=6bb4c7c29d4cee15704e2a1a1&id=fb5276ed61" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp form-inline" target="_blank" role="form" novalidate>
      <div class="form-group">
        <label for="mce-EMAIL">Get updates about this and other Exciting projects&hellip;</label>
        <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
      </div>
      <input type="hidden" value="{{ page.url }}" name="SOURCE" id="mce-SOURCE">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
  <div class="row">
    <section class="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'exciting-io'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </section>
  </div>
</main>
