---
layout: default
---
<div class="container project">
  <div class="row">
    <article>
      <h1>{{ page.title }}</h1>

      <div class="project">
      {{ content }}
      </div>
    </article>

    {% if page.links %}
      <aside class="links">
        <h3>Related</h3>
        {{ page.links | markdownify }}
      </aside>
    {% endif %}

    <aside class="subscribe">
      <h3>Updates</h3>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://exciting.us3.list-manage2.com/subscribe/post?u=6bb4c7c29d4cee15704e2a1a1&id=fb5276ed61" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mailchimp" target="_blank" role="form" novalidate>
        <div class="form-group">
          <label for="mce-EMAIL">Get updates about this and other Exciting projects&hellip;</label>
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Your email address">
        </div>
        <input type="hidden" value="{{ page.url }}" name="SOURCE" id="mce-SOURCE">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </form>
      </div>
      <!--End mc_embed_signup-->

    </aside>
  </div>
</div>
